


<h2><em>&nbsp;Your policy payment:</em></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1" width="250"  background-color= "lightblue">
<tbody>
<tr>
<td align="left" bgcolor="">January</td>
<td align="right">31</td>
<td rowspan="3" align="center" valign="middle">90</td>
</tr>
<tr>
<td align="left" bgcolor="">February</td>
<td align="right">28</td>
</tr>
<tr>
<td align="left" bgcolor="">March</td>
<td align="right">31</td>
</tr>
<tr>
<td align="left" bgcolor="">April</td>
<td align="right">30</td>
<td rowspan="3" align="center" valign="middle">91</td>
</tr>
<tr>
<td align="left" bgcolor="">May</td>
<td align="right">31</td>
</tr>
<tr>
<td align="left" bgcolor="">June</td>
<td align="right">30</td>
</tr>
<tr>
<td align="left" bgcolor="">July</td>
<td align="right">31</td>
<td rowspan="3" align="center" valign="middle">92</td>
</tr>
<tr>
<td align="left" bgcolor="">August</td>
<td align="right">31</td>
</tr>
<tr>
<td align="left" bgcolor="">September</td>
<td align="right">30</td>
</tr>
<tr>
<td align="left" bgcolor="">November</td>
<td align="right">31</td>
<td rowspan="3" align="center" valign="middle">92</td>
</tr>
<tr>
<td align="left" bgcolor="">October</td>
<td align="right">30</td>
</tr>
<tr>
<td align="left" bgcolor="">December</td>
<td align="right">31</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>It is calculated by <span style="color: #ff0000;"><em><span style="text-decoration: underline;"><strong>PolCal</strong></span></em></span>.</h2>
<div id="gtx-trans" style="position: absolute; left: 2px; top: -9.775px;">&nbsp;</div>