<h1 style="color: #5e9ca0; text-align: center;">PolCal</h1>

<h2 style="color: #2e6c80; text-align: center;">"<em>We insure the image of the insurance industry.</em>"</h2>
<p> You can reach PolCal Application by clicking <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PolCalApp">here.</a></p>
<p><strong>Description:</strong> As PolCal we pursue the best optimization with risk awareness. Our main goal helping insurance experts with professional way. With experince in insurance industry, our software tools &ldquo;PolCal Smart&rdquo; series provide best insurance policy options and risk percentage interval for the expert depending on the bussiness or insurance type. Our aim is to help the experts to offer consistent and sustainable policies to customers. By doing so, both parties; insurance experts and customers can benefit in long-term.</p>
<p>We have tools which have some useful features:</p>
<p>* Policy Offer</p>
<p>* Risk Rate Calculator</p>
<p>* Documentation Expense Prediction</p>
<h2 style="color: #2e6c80; text-align: center;">Team Members</h2>
<table class="editorDemoTable" style="width: 394px; height: 400px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<td style="width: 87px; text-align: center;"><span style="text-decoration: underline;">Photos</span></td>
<td style="width: 289px; text-align: center;"><span style="text-decoration: underline;">Names of the Co-Founderers</span></td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 87px; text-align: center;"><img src= "photos\bsy.png"  alt= "bulent" width="75" height="75" /></td>
<td style="width: 289px; text-align: center;">B&uuml;lent Sefa Yarbaşı</td>
</tr>
<tr>
<td style="width: 87px; text-align: center;"><img src="photos\gvc.png" width="75" height="75" /></td>
<td style="width: 289px; text-align: center;">G&ouml;khan Varol &Ccedil;iftkaya</td>
</tr>
<tr>
<td style="width: 87px; text-align: center;"><img src="photos\ms.png" width="75" height="75" /></td>
<td style="width: 289px; text-align: center;">Mustafa Sağlam</td>
</tr>
<tr>
<td style="width: 87px; text-align: center;"><img src="photos\mfo.png" width="75" height="75" /></td>
<td style="width: 289px; text-align: center;">Muhammed Faruk Ozulu</td>
</tr>
<td style="width: 87px; text-align: center;"><img src="photos\erim.png" width="75" height="75" /></td>
<td style="width: 289px; text-align: center;">Mehmet Erim Korkmaz</td>
</tr>
</tbody>
</table>