@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("ProcessNumber", "Number", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Number</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <p>@ViewBag.Message</p>
            </div>
        </div>
    </div>
}
<form action="/Form/FormOne" method="post">
    <table>
         <tr>
            <td style="color:purple">Start Year: </td>
            <td> <input type="number" min="1900" max="2099" step="1" value="2016" name="Syear" ></td>
        </tr>
         <tr>
            <td style="color:purple">End Year: </td>
            <td> <input type="number" min="1900" max="2099" step="1" value="2016" name= "Eyear" ></td>
        </tr>
          <tr>
            <td style="color:purple">
                Please select your policy type:
            </td>
            <td>
                <select name="Policies">
                 <option value="Traffic">Traffic Policy</option>
                <option value="Car Insurance">Insuranc Policy</option>
                <option value="Company Insurance Policy">Company Insurance Policy</option>
                </select>
            </td>
        </tr>
    <input type="checkbox" name="checkboxData" />
    <input type="number" name="textBoxIntData" />

    <input type="submit" value="Submit weakly typed form" />
</form>
<hr />
<h3><b>PolCal Policy Calculator</b></h3>

<form action="formPolicy" method="post">
    <table>
         <tr>
            <td style="color:purple">Start Year: </td>
            <td> <input type="number" min="1900" max="2099" step="1" value="2016" ></td>
        </tr>
        <tr>
            <td style="color:purple">End Year: </td>
            <td> <input type="number" min="1900" max="2099" step="1" value="2016" ></td>
        </tr>
        <tr>
            <td style="color:purple">
                Please select your policy type:
            </td>
            <td>
                <select name="Policies">
                 <option value="Traffic">Traffic Policy</option>
                <option value="Car Insurance">Insuranc Policy</option>
                <option value="Company Insurance Policy">Company Insurance Policy</option>
                </select>
            </td>
        </tr>
       
        <tr>
            <td style="color:purple">Policy Premium Amount </td>
            <td><input type="number" name="PremiumAmount" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-submit"/></td>
        </tr>
        
    </table>
</form>